.jumbotron1{
    background:yellow;
    color: red;
    font-size: 36px;
    text-align: center;
}

.jumbotron2{
    background:red;
    color: yellow;
    font-size: 36px;
    text-align: center;

}

#ranScore{
    font-size: 40px;
}

#computer{
    background: green;
}

#winlose{
    background: blue;
    font-size: 20px;
}

.crystals{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.crystal{
border: 1px solid green;
height: 180px;
width: 180px;
}

image{
    
}
.yourScore{
    background: yellow;
    font-size: 18px;
}

#yourScore{
    font-size: 28px;
}